.title {
  line-height: 64px;
  align-self: flex-start;
}

.values {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

.value {
  display: flex;
  flex-direction: column;
  min-width: 112px;
}

.value:last-child {
  margin-right: 0;
}