.burgerConstructor {
  display: grid;
  max-width: 600px;
  grid-template-rows: 80px 1fr 80px max-content;
  max-height: calc(100vh - 88px - 100px);
  justify-content: start;
  align-content: start;
  grid-template-areas: 'empty'
                      'empty'
                      'empty'
                      'button';
}

.empty {
  outline: 2px dotted #8585ad;
  width: 584px;
  box-sizing: border-box;
  height: 100%;
  grid-area: empty;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.burgerConstructorList {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  overflow-y: auto;
}

.burgerConstructorList::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.burgerConstructorList::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #8585ad;
}

.totalPrice {
  display: flex;
  align-self: end;
  justify-content: flex-end;
  align-items: center;
  grid-area: button;
}

.currency svg {
  width: 36px;
  height: 36px;
}