.ingredient {
  display: grid;
  justify-items: center;
  position: relative;
  grid-template-columns: 272px;
  text-align: center;
  grid-template-rows: max-content max-content 48px;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.ingredient:hover {
  background-color: #1c1c21;
  outline: 1px solid rgba(76, 76, 255, 0.05);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.price {
  display: flex;
  align-items: center;
}
